@{
    ViewBag.Title = "MyCar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@model IEnumerable<DoAn_Mioto.Models.Xe>
@{ var guest = Session["ChuXe"] as DoAn_Mioto.Models.ChuXe; }

<link href="~/Content/css/table.css" rel="stylesheet" />
<div class="title" style="display: flex; justify-content: space-between">
    <div class="title-item">
        <h5>Danh sách xe của tôi</h5>
    </div>
    <a href="@Url.Action("RegisterOwner", "Car")" class="btn btn-primary" style=" font-weight: 300; ">Thêm xe</a>
</div>
@if (guest != null)
{
    <div class="">
        <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
                <thead>
                    <tr class="row100 head" style="color: white; font-weight: 500;">
                        <th class="column100 column1">Biển số xe</th>
                        <th class="column100 column2">Hãng xe</th>
                        <th class="column100 column4">Năm sản xuất</th>
                        <th class="column100 column4">Khu vực</th>
                        <th class="column100 column7">Trạng thái</th>
                        <th class="column100 column7">Giá thuê</th>
                        <th class="column100 column9">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var xe in Model)
                    {
                        <tr class="row100" id="car-@xe.BienSo">
                            <td class="column100">@Html.DisplayFor(modelItem => xe.BienSo)</td>
                            <td class="column100">@Html.DisplayFor(modelItem => xe.HangXe)</td>
                            <td class="column100">@Html.DisplayFor(modelItem => xe.NamSX)</td>
                            <td class="column100">@Html.DisplayFor(modelItem => xe.KhuVuc)</td>
                            <td class="column100">@Html.DisplayFor(modelItem => xe.TrangThaiThue)</td>
                            <td class="column100">@string.Format("{0:N0} VNĐ", xe.GiaThue)</td>
                            <td class="column100">
                                @Html.ActionLink("Chỉnh sửa", "EditCar", new { BienSoXe = xe.BienSo }, new { @class = "btn btn-edit" })
                                <button class="btn btn-delete" onclick="deleteCar('@xe.BienSo')">Xóa</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="empty-container">
        <img loading="lazy" src="https://www.mioto.vn/static/media/empty-mycar.e023e681.svg" alt="">
        <p>Không tìm thấy xe nào.</p>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function deleteCar(bienSoXe) {
        if (confirm("Bạn có chắc chắn muốn xóa xe này?")) {
            $.ajax({
                url: '@Url.Action("DeleteCar", "DetailAccount")',
                type: 'POST',
                data: { BienSoXe: bienSoXe },
                success: function (result) {
                    if (result.success) {
                        // Xóa hàng xe trong bảng
                        $('#car-' + bienSoXe).remove();
                    } else {
                        alert("Có lỗi xảy ra khi xóa xe.");
                    }
                },
                error: function () {
                    alert("Có lỗi xảy ra khi xóa xe.");
                }
            });
        }
    }
</script>
